@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 80vh;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 3rem auto;
  background-color: #eee;
}

.button {
  width: 8rem;
  height: 2.5rem;
  margin-top: 8rem;
}

.button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #555;
  border-radius: .3rem;
}

.pict-frame {
  margin-left: auto;
  width: 45rem;
  height: 25rem;
  margin-top: 5rem;
  background-color: #ddd;
}

.pict-frame > div {
  height: 100%;
  background-image: url(../img/p2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.animation-target {
  position: relative;
  overflow: hidden;
}

.animation-target > a,
.animation-target > div {
  opacity: 0;
}

@keyframes showElements {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */
.animation-target.show > a,
.animation-target.show > div {
  animation: showElements .1s .4s forwards;
}

.animation-target::before {
  content: '';
  /* display: block; */

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 1;

  transform: translateX(-100%);
}

@keyframes moveMask {
  0% {
    transform: translateX(-100%);
  }
  /* 左から右への動きを一と止めるように見せる方法 */
  45%, 55% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animation-target.show::before {
  /* forwardsオプションで、対象は実行の最後のキーフレームで設定された計算値を保持する。 */
  animation: moveMask .8s forwards;
}