@charset "utf-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  background-color: #333;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  padding: 3rem;
}

header h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 4rem;
  /* 見出しは改行させない。明示的に。 */
  white-space: nowrap;
}

main {
  /* 68rem */
  max-width: 1020px;
  width: 100%;
  margin: 4rem auto;
}

/********** li全体がフワッと下から出てくるだけの完成版 **********/
.contents li {
  position: relative;
  /* 透明度を0にして、コードはあるけど画面上から見えなくする。 */
  opacity: 0;
  /* オブジェクトの位置を下から上にスライドさせたため、
  初期値を設定する。 */
  transform: translateY(4rem);
}

.contents li.show {
  opacity: 1;
  /* オブジェクトへの効果の変容に指定した時間をかける */
  transition: 1s;
  /* 元の位置を指定してスライドさせせ見せ方をする。 */
  transform: none;
}

.contents li:not(:first-of-type) {
  margin-top: 14rem;
}

.contentText {
  position: absolute;
  top: 3rem;

  display: flex;
  flex-direction: column;
  /* なぜ、『flex-end』にしているのか？
  の答えは59行目。
  これも構文的に覚える。
  左右にオブジェクトを揃えて、
  幅の伸び縮みに対応するため。 */
  align-items: flex-end;
}

.contents li:nth-of-type(odd) .contentText {
  right: 0;
}

.contents li:nth-of-type(even) .contentText {
  /* align-items: flex-end; */
  align-items: flex-start;
}

.contents h2 {
  padding: 0.7rem 1.5rem 1.3rem;
  /* 行位置を整えたい意図でline-heightを使っているが
  あまり意味がなさそうなのでここでは採用しない。 */
  /* line-height: 1.4; */
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: .2rem;
  /* なんで改行しないのか？
  コンテンツの幅は決めてる。
  テキスト伸びる。画面にかかる。
  これを前提にしたレイアウトだから。 */
  white-space: nowrap;
  background-color: rgba(20, 20, 20, .8);
  border-radius: 0.2rem;
}

.contents p {
  max-width: 22rem;
  margin-top: 2rem;
  padding: 1rem;
  line-height: 1.6;
  background-color: rgba(100, 100, 100, .8);
  border-radius: 0.3rem;
}

.contents img {
  display: block;
  width: 65%;
  border-radius: 0.2rem;
}

/* 画像レイアウトは沼にハマるポイント多い。
=> 『.contentText』と同じように左右にレイアウト出来るだろうと
『position: absolute』しても効かずレイアウト全体が崩れる。
=>画像を『display: block;』下の命令は効かず。
=>margin-left: 0;などしたところでその場を全く動かない。
こういう場合はこう書く構文的に覚える必要あり。
要注意。 */
.contents li:nth-of-type(even) img {
  margin-left: auto;
}