.contanier
  // height: 200vh
  p
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    font-size: 16px
    line-height: 1
    letter-spacing: .05em
  .effect-para p
    height: 70vh
    &:last-of-type
      margin-bottom: 100vh
