@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

#container {
  max-width: 300px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #eee;
  border-radius: .3rem;
}