@charset "UTF-8";

html {
  font-size: 15px;
  --line-hight: calc(1rem * 2);
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
  color: #555;
}

#container {
  max-width: 60rem;
  margin: calc(var(--line-hight) * 5) auto 0;
  padding: 0 2rem;
  line-height: var(--line-hight);
}